# ğŸ«å·§å…‹åŠ›ğŸ«å·¥è‰º/å£å‘³/è¯„åˆ†æ•°æ®é›†æ¢ç´¢  


## æ•°æ®èƒŒæ™¯  

è‡ª2007å¹´ä»¥æ¥ï¼Œæ›¼å“ˆé¡¿å·§å…‹åŠ›åä¼šçš„æˆå‘˜ä¸€ç›´èšä¼šï¼Œå”¯ä¸€çš„ç›®çš„æ˜¯å“å°å’Œè¯„åˆ¤é«˜å“è´¨å·§å…‹åŠ›ï¼Œä»¥æ•™è‚²æ¶ˆè´¹è€…å¹¶æ¿€åŠ±å·§å…‹åŠ›åˆ¶é€ å•†ç”Ÿäº§æ›´é«˜å“è´¨çš„å·§å…‹åŠ›ã€‚ä»é‚£æ—¶èµ·ï¼Œä»–ä»¬å·²ç»ç¼–åˆ¶äº†ä¸€ä¸ªåŒ…å«è¶…è¿‡2200ä¸ªå·§å…‹åŠ›æ¡çš„æ•°æ®é›†ï¼Œç”±ä»–ä»¬çš„æˆå‘˜æ ¹æ®ä»¥ä¸‹ç­‰çº§è¯„åˆ†ï¼š  

4.0â€“5.00 = æ°å‡º  
3.5â€“3.99 = å¼ºçƒˆæ¨è  
3.0â€“3.49 = æ¨è  
2.0â€“2.99 = ä»¤äººå¤±æœ›  
1.0â€“1.99 = ä¸æ„‰å¿«  
è¿™äº›è¯„åˆ†æ¥è‡ªäºä¸€ä¸ªè€ƒè™‘åˆ°é¦™æ°”ã€å¤–è§‚ã€è´¨åœ°ã€é£å‘³ã€ä½™å‘³å’Œæ•´ä½“æ„è§çš„è¯„åˆ†æ ‡å‡†ï¼Œè¯„åˆ†çš„å·§å…‹åŠ›æ¡å¤§å¤šæ˜¯è¾ƒæ·±çš„å·§å…‹åŠ›æ¡ï¼Œå› ä¸ºç›®çš„æ˜¯æ¬£èµå¯å¯çš„é£å‘³ã€‚é™¤äº†è¯„åˆ†ï¼Œæ›¼å“ˆé¡¿å·§å…‹åŠ›åä¼šçš„æ•°æ®é›†è¿˜åŒ…æ‹¬è®¸å¤šç‰¹å¾ï¼Œå¦‚å¯å¯è±†ç§æ¤çš„å›½å®¶ã€å·§å…‹åŠ›æ¡å«æœ‰çš„æˆåˆ†æ•°é‡ã€æ˜¯å¦åŒ…å«ç›ï¼Œä»¥åŠç”¨æ¥æè¿°å®ƒçš„è¯è¯­ã€‚  
## æ•°æ®è§£é‡Š  

company: åˆ†ç±»ï¼›å·§å…‹åŠ›æ¡çš„åˆ¶é€ å•†ï¼ˆè¶…è¿‡500ä¸ªä¸åŒçš„åˆ¶é€ å•†ï¼‰  
company_location: åˆ†ç±»ï¼›åˆ¶é€ å•†çš„å›½å®¶ï¼ˆ66ä¸ªä¸åŒçš„å›½å®¶ï¼‰  
review_date: è¿ç»­ï¼›å·§å…‹åŠ›æ¡è¢«è¯„å®¡çš„å¹´ä»½ï¼ˆä»2006å¹´åˆ°2020å¹´ï¼‰  
country_of_bean_origin: åˆ†ç±»ï¼›å¯å¯è±†é‡‡é›†çš„å›½å®¶ï¼ˆ62ä¸ªä¸åŒçš„å›½å®¶ï¼‰  
cocoa_percent: åˆ†ç±»ï¼›å·§å…‹åŠ›æ¡ä¸­å¯å¯çš„ç™¾åˆ†æ¯”  
rating: è¿ç»­ï¼›ç”±æ›¼å“ˆé¡¿å·§å…‹åŠ›åä¼šç»™å‡ºçš„è¯„åˆ†ï¼ˆå¯èƒ½çš„å€¼ï¼š1-5ï¼‰  
counts_of_ingredients: è¿ç»­ï¼›å·§å…‹åŠ›æ¡ä¸­çš„æˆåˆ†æ•°é‡  
cocoa_butter: äºŒè¿›åˆ¶ï¼›æ˜¯å¦ä½¿ç”¨å¯å¯è„‚åˆ¶ä½œ  
vanilla: äºŒè¿›åˆ¶ï¼›æ˜¯å¦ä½¿ç”¨é¦™è‰åˆ¶ä½œ  
lecithin: äºŒè¿›åˆ¶ï¼›æ˜¯å¦ä½¿ç”¨åµç£·è„‚åˆ¶ä½œ  
salt: äºŒè¿›åˆ¶ï¼›æ˜¯å¦ä½¿ç”¨ç›åˆ¶ä½œ  
sugar: äºŒè¿›åˆ¶ï¼›æ˜¯å¦ä½¿ç”¨ç³–åˆ¶ä½œ  
sweetener_without_sugar: äºŒè¿›åˆ¶ï¼›æ˜¯å¦ä½¿ç”¨æ— ç³–ç”œå‘³å‰‚åˆ¶ä½œ  
first_taste: æ–‡æœ¬ï¼›ç”¨æ¥æè¿°ç¬¬ä¸€å£å‘³é“çš„è¯ï¼ˆè¯­ï¼‰  
second_taste: æ–‡æœ¬ï¼›ç”¨æ¥æè¿°ç¬¬äºŒå£å‘³é“çš„ï¼ˆè¯­ï¼‰  
third_taste: æ–‡æœ¬ï¼›ç”¨æ¥æè¿°ç¬¬ä¸‰å£å‘³é“çš„è¯ï¼ˆè¯­ï¼‰  
fourth_taste: æ–‡æœ¬ï¼›ç”¨æ¥æè¿°ç¬¬å››å£å‘³é“çš„è¯ï¼ˆè¯­ï¼‰  
## æ•°æ®æ¥æº  
http://flavorsofcacao.com/mcs_index.html

## ä»»åŠ¡æ¦‚è¿°  
æ ¹æ®ç»™å‡ºçš„æ•°æ®ï¼Œé‡ç‚¹åˆ†æä¸‹ä»€ä¹ˆæ ·çš„å·§å…‹åŠ›å¯ä»¥æ‹¿åˆ°é«˜åˆ†ï¼Œé«˜åˆ†å·§å…‹åŠ›æ˜¯å¦æœ‰æ˜æ˜¾çš„åœ°åŸŸæ€§  

### ä¸€ã€æ•°æ®å¤„ç†

In [1]:
# å¯¼å…¥åº“æ–‡ä»¶
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# å¯¼å…¥æ•°æ®é›†
df=pd.read_csv('/home/mw/input/chocolate1075/chocolate_v2.csv')

In [3]:
# æŸ¥çœ‹æ•°æ®é›†æ¦‚å†µ
df.sample(5)

,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
604,Darcis,Belgium,2019,Vietnam,Mekong Delta,70.0,3.25,4,1,0,1,0,1,0,muted,creamy,basic,NaN
332,Bullion,U.k.,2018,Bolivia,"Alto Beni, No.2, Batch 17, 2016",70.0,2.50,3,1,0,0,0,1,0,dirt,earthy,floral,NaN
1628,Piety and Desire,U.S.A,2020,Tanzania,"Kokoa Kamili, Kilombero Valley, batch 304",70.0,3.50,3,1,0,0,0,1,0,sweet,cream,cherry,rich
91,Amedei,Italy,2007,Trinidad,Trinidad,70.0,3.50,4,1,1,0,0,1,0,coffee,fruit,woodsy,NaN
2105,Valrhona,France,2007,Venezuela,Chuao 2002 P.,65.0,3.75,5,1,1,1,0,1,0,sandy,vegetal,cocoa,NaN

In [4]:
# æŸ¥çœ‹æ•°æ®é›†ä¿¡æ¯
df.info()# æœ‰ç©ºå€¼

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2224 entries, 0 to 2223
Data columns (total 18 columns):
company                             2224 non-null object
company_location                    2224 non-null object
review_date                         2224 non-null int64
country_of_bean_origin              2224 non-null object
specific_bean_origin_or_bar_name    2224 non-null object
cocoa_percent                       2224 non-null float64
rating                              2224 non-null float64
counts_of_ingredients               2224 non-null int64
cocoa_butter                        2224 non-null int64
vanilla                             2224 non-null int64
lecithin                            2224 non-null int64
salt                                2224 non-null int64
sugar                               2224 non-null int64
sweetener_without_sugar             2224 non-null int64
first_taste                         2219 non-null object
second_taste                        2142 non-null object
third_taste                         1590 non-null object
fourth_taste                        234 non-null object
dtypes: float64(2), int64(8), object(8)
memory usage: 312.8+ KB

In [5]:
# å¤„ç†ç©ºå€¼ åˆ†ætasteéœ€è¦
df_nona=df.fillna('')# éœ€è¦å¤„ç†ç©ºå€¼çš„åˆ—éƒ½æ˜¯å­—ç¬¦ä¸²ç±»å‹çš„ï¼Œç›´æ¥å¡«å……â€˜â€™

In [6]:
df_nona[df_nona.isna().get_values()]# æŸ¥çœ‹æ•°æ®é›†å·²ç»æ²¡æœ‰ç©ºå€¼

Empty DataFrame
Columns: [company, company_location, review_date, country_of_bean_origin, specific_bean_origin_or_bar_name, cocoa_percent, rating, counts_of_ingredients, cocoa_butter, vanilla, lecithin, salt, sugar, sweetener_without_sugar, first_taste, second_taste, third_taste, fourth_taste]
Index: []

In [7]:
#å¢åŠ ä¸€åˆ—ï¼Œå°†å››åˆ—tasteç›¸å…³æ•°æ®åˆå¹¶ åˆ†ætasteéœ€è¦
df_nona['taste']=df_nona.iloc[:,14:18].apply(lambda x: ' '.join(x), axis=1)
df_nona.iloc[:,14:].head()

  first_taste second_taste third_taste fourth_taste                     taste
0       cocoa   blackberry      robust               cocoa blackberry robust
1       cocoa      vegetal      savory                  cocoa vegetal savory
2        rich        fatty      bready                     rich fatty bready
3      fruity        melon      roasty                   fruity melon roasty
4     vegetal        nutty                                    vegetal nutty

In [8]:
#å¢åŠ ä¸€åˆ— content å°†å„ä¸ªæˆåˆ†ç»„åˆæˆå­—ç¬¦ä¸²è¡¨ç¤º
df_nona.iloc[:,8:14]=df_nona.iloc[:,8:14].astype(str)
df_nona['content'] =df_nona.iloc[:,8:14].apply(lambda x: ''.join(x), axis=1)
df_nona.head()

,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste,taste,content
0,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,1,0,0,0,1,0,cocoa,blackberry,robust,,cocoa blackberry robust,100010
1,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,1,0,0,0,1,0,cocoa,vegetal,savory,,cocoa vegetal savory,100010
2,5150,U.S.A,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3,1,0,0,0,1,0,rich,fatty,bready,,rich fatty bready,100010
3,A. Morin,France,2012,Peru,Peru,63.0,3.75,4,1,0,1,0,1,0,fruity,melon,roasty,,fruity melon roasty,101010
4,A. Morin,France,2012,Bolivia,Bolivia,70.0,3.50,4,1,0,1,0,1,0,vegetal,nutty,,,vegetal nutty,101010

### äºŒã€æŸ¥çœ‹éšæ—¶é—´ç›¸å…³çš„æ•°æ®å˜åŒ–

In [9]:
date_group=df_nona.groupby('review_date')#æŒ‰ç…§æ—¶é—´åˆ†ç»„
date_group['rating'].describe()

             count      mean       std   min     25%   50%   75%  max
review_date
2006          60.0  3.062500  0.660035  1.50  2.7500  3.00  3.75  4.0
2007          69.0  3.166667  0.598200  1.00  3.0000  3.00  3.50  4.0
2008          84.0  3.038690  0.494692  1.50  2.7500  3.00  3.50  4.0
2009         113.0  3.088496  0.439308  1.75  2.7500  3.00  3.50  4.0
2010          94.0  3.188830  0.431748  2.00  2.7500  3.25  3.50  4.0
2011         153.0  3.271242  0.475508  1.50  3.0000  3.25  3.50  4.0
2012         180.0  3.206944  0.464396  1.50  3.0000  3.25  3.50  4.0
2013         178.0  3.214888  0.430760  2.25  2.8125  3.25  3.50  4.0
2014         243.0  3.197531  0.409184  2.25  3.0000  3.25  3.50  4.0
2015         280.0  3.243750  0.382416  2.00  3.0000  3.25  3.50  4.0
2016         215.0  3.236047  0.415574  2.00  3.0000  3.25  3.50  4.0
2017         102.0  3.362745  0.347600  2.50  3.2500  3.50  3.50  4.0
2018         225.0  3.191556  0.388328  2.00  3.0000  3.25  3.50  4.0
2019         195.0  3.133333  0.375014  2.25  3.0000  3.00  3.50  4.0
2020          33.0  3.159091  0.285168  2.50  3.0000  3.25  3.50  3.5

#### åˆ†æ 1  
1. 2020å¹´çš„æ•°æ®ä¸å…¶å®ƒå¹´ä»½ç›¸æ¯”ï¼Œå‚èµ›æ€»æ•°çˆ†å†·ï¼Œè¯„åˆ†æœ€é«˜ä¹Ÿåªåˆ°3.5  
2. é™¤è¯¥å¹´å¤–ï¼Œå…¶å®ƒå¹´ä»½çš„æ•°æ®ä¸­ï¼Œå‚èµ›æ€»æ•°æ•´ä½“å‘ˆç°ä¸Šå‡è¶‹åŠ¿ï¼Œè¯´æ˜å¯¹å·§å…‹åŠ›è¶Šæ¥è¶Šçƒ­è¡·  
3. æ–¹å·®é€æ¸å˜å°ï¼Œè¯´æ˜æ•°æ®æ›´é›†ä¸­äº†  
4. æœ€å°å€¼å’Œä¸­ä½æ•°å‘ˆç°ä¸Šå‡è¶‹åŠ¿ï¼Œè¯´æ˜å·§å…‹åŠ›çš„æ•´ä½“å“è´¨æœ‰æå‡

In [10]:
df_date=df_nona['review_date'].value_counts().reset_index()

#åˆ›å»ºæŸ±çŠ¶å›¾
fig, ax = plt.subplots(figsize=(10,6))
ax.bar(df_date['index'], df_date['review_date'])

#### åˆ†æ 2  
1. å‚èµ›äº§å“æ•°é‡æ•´ä½“æ”€å‡ï¼Œåœ¨2015å¹´è¾¾åˆ°é¡¶å³°

### ä¸‰ã€åˆ†æâ€œå† å†›â€å’Œâ€œä¸åŠæ ¼â€å·§å…‹åŠ›æœ‰å“ªäº›å£æ„Ÿç‰¹å¾

In [11]:
#æ–°å»ºä¸¤ä¸ªå‡½æ•°ï¼Œåˆ†åˆ«è·å–å½“å¹´ä¸­è¯„åˆ†æœ€é«˜çš„â€œå† å†›â€å·§å…‹åŠ›äº§å“ï¼Œå’Œä¸åŠæ ¼çš„äº§å“ï¼Œç”¨äºåˆ†åˆ«åˆ†æ
def top(df, column='rating'):
    return df[df['rating']==df['rating'].max()]

def floor(df, column='rating'):
    return df[df['rating']<3]

df_top=date_group.apply(top)#æŸ¥çœ‹æ¯å¹´çš„å† å†›æ•°æ®
df_floor=date_group.apply(floor)#æŸ¥çœ‹æ¯å¹´ä¸åŠæ ¼æ•°æ®ï¼ˆå°äº3åˆ†ï¼‰
df_floor.head(5)

                                company company_location  review_date  \
review_date
2006        660      Dolfin (Belcolade)          Belgium         2006
            727                  El Rey        Venezuela         2006
            775                Felchlin      Switzerland         2006
            938  Green & Black's (ICAM)             U.k.         2006
            955                Guittard            U.S.A         2006

                country_of_bean_origin specific_bean_origin_or_bar_name  \
review_date
2006        660                  Blend                             Noir
            727              Venezuela    Carenero Superior, Gran Saman
            775                  Blend                      Supremo- SF
            938                  Blend                             Dark
            955              Venezuela                     Sur del Lago

                 cocoa_percent  rating  counts_of_ingredients cocoa_butter  \
review_date
2006        660           70.0    1.50                      3            0
            727           70.0    2.75                      5            1
            775           62.0    2.00                      5            1
            938           70.0    2.50                      5            1
            955           65.0    2.50                      5            1

                vanilla lecithin salt sugar sweetener_without_sugar  \
review_date
2006        660       0        1    0     1                       0
            727       1        1    0     1                       0
            775       1        1    0     1                       0
            938       1        1    0     1                       0
            955       1        1    0     1                       0

                 first_taste second_taste third_taste fourth_taste  \
review_date
2006        660       acidic   astringent  unpleasant
            727       gritty       chalky      earthy         sour
            775      malitol        cocoa
            938  mildly rich        basic      roasty
            955        sweet       creamy     vanilla

                                         taste content
review_date
2006        660  acidic astringent unpleasant   001010
            727      gritty chalky earthy sour  111010
            775                malitol cocoa    111010
            938      mildly rich basic roasty   111010
            955          sweet creamy vanilla   111010

In [12]:
#æŸ¥çœ‹åœ¨â€œå† å†›â€å·§å…‹åŠ›é‡Œï¼Œå“ªäº›æåˆ°çš„å£å‘³ç›¸å…³çš„è¯è¯­æœ€å¤š
concat_df=pd.concat([df_top['first_taste'],df_top['second_taste'],df_top['third_taste'],df_top['fourth_taste']])
concat_df=(concat_df).value_counts().head(20)
concat_df=concat_df[concat_df.index!='']
#ç»˜åˆ¶æŠ˜çº¿å›¾
plt.figure(figsize=(20,5))
plt.plot(concat_df)

#### åˆ†æ 3  
1. åœ¨æ¯å¹´æ‹¿åˆ°æœ€é«˜åˆ†çš„å·§å…‹åŠ›ä¸­ï¼Œtasteæè¿°ä¸­å‡ºç°æ¬¡æ•°æœ€å¤šçš„ä¸‰ä¸ªè¯è¯­æ˜æ˜¾é«˜äºå…¶å®ƒè¯è¯­ï¼Œåˆ†åˆ«æ˜¯creamyã€cocoaã€nutty

In [13]:
from wordcloud import WordCloud
text=' '.join(df_top['taste'])

wordcloud = WordCloud().generate(text)
plt.figure(figsize=(10,6))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [14]:
#åˆ†åˆ«æŸ¥çœ‹ä¸‰ä¸ªè¯è¯­åœ¨æ‰€æœ‰å‚èµ›æ•°æ®ä¸­çš„å‡ºç°æ¬¡æ•°ï¼Œä»¥åŠç›¸å…³å æ¯”
df_good=df_nona[df_nona['taste'].str.contains('creamy')]['rating'].value_counts().sort_index('index',ascending=False).reset_index()
df_good['cum_percent']=df_good['rating'].cumsum()/df_good['rating'].sum()*100
df_good['percent']=df_good['rating']/df_good['rating'].sum()*100
df_good

   index  rating  cum_percent    percent
0   4.00      36    19.565217  19.565217
1   3.75      44    43.478261  23.913043
2   3.50      39    64.673913  21.195652
3   3.25      23    77.173913  12.500000
4   3.00      27    91.847826  14.673913
5   2.75      12    98.369565   6.521739
6   2.50       1    98.913043   0.543478
7   2.00       1    99.456522   0.543478
8   1.50       1   100.000000   0.543478

In [15]:
df_good=df_nona[df_nona['taste'].str.contains('cocoa')]['rating'].value_counts().sort_index('index',ascending=False).reset_index()
df_good['cum_percent']=df_good['rating'].cumsum()/df_good['rating'].sum()*100
df_good['percent']=df_good['rating']/df_good['rating'].sum()*100
df_good

   index  rating  cum_percent    percent
0   4.00      26    10.116732  10.116732
1   3.75      46    28.015564  17.898833
2   3.50      73    56.420233  28.404669
3   3.25      43    73.151751  16.731518
4   3.00      45    90.661479  17.509728
5   2.75      19    98.054475   7.392996
6   2.50       2    98.832685   0.778210
7   2.00       2    99.610895   0.778210
8   1.75       1   100.000000   0.389105

In [16]:
df_good=df_nona[df_nona['taste'].str.contains('nutty')]['rating'].value_counts().sort_index('index',ascending=False).reset_index()
df_good['cum_percent']=df_good['rating'].cumsum()/df_good['rating'].sum()*100
df_good['percent']=df_good['rating']/df_good['rating'].sum()*100
df_good

   index  rating  cum_percent    percent
0   4.00      17     6.719368   6.719368
1   3.75      35    20.553360  13.833992
2   3.50      61    44.664032  24.110672
3   3.25      47    63.241107  18.577075
4   3.00      54    84.584980  21.343874
5   2.75      31    96.837945  12.252964
6   2.50       7    99.604743   2.766798
7   2.25       1   100.000000   0.395257

#### åˆ†æ 4  
1. åˆ†åˆ«æŸ¥çœ‹ä¸‰ä¸ªè¯è¯­å‡ºç°çš„å‚èµ›æ•°æ®ï¼Œratingçš„åˆ†å¸ƒæƒ…å†µï¼Œå¤§éƒ¨åˆ†çš„è¯„åˆ†éƒ½é›†ä¸­åœ¨3åˆ°3.75ä¹‹é—´  
2. ä»ç´¯è®¡ç™¾åˆ†æ¯”ä¹Ÿå¯ä»¥çœ‹åˆ°80%-90%çš„æ•°æ®éƒ½æ˜¯åœ¨åŠæ ¼åˆ†ï¼ˆ3åˆ†ï¼‰ä»¥ä¸Šçš„  
3. å¦‚æœè¯„å§”ç»™å‡ºè¿™æ ·çš„è¯„ä»·ï¼Œå‡ ä¹ä»£è¡¨ç€å±äºé«˜å“è´¨çš„å·§å…‹åŠ›ï¼Œæœ‰æœ›å†²å‡»å† å†›å·§å…‹åŠ›äº†ï¼Œè¿™æ˜¯è¯„å§”å–œçˆ±çš„å£æ„Ÿ

#### åŒä¸Šï¼Œåˆ†æä¸‹ä¸åŠæ ¼çš„tasteé¢‘æ¬¡

In [17]:
concat_df=pd.concat([df_floor['first_taste'],df_floor['second_taste'],df_floor['third_taste'],df_floor['fourth_taste']])
concat_df=(concat_df).value_counts().head(20)
concat_df=concat_df[concat_df.index!='']
plt.figure(figsize=(20,5))
plt.plot(concat_df)
plt.ylim(0,)

(0, 86.2)

#### åˆ†æ 5  
1. åœ¨ä¸åŠæ ¼çš„å·§å…‹åŠ›ä¸­æ’åå‰ä¸‰çš„tasteæè¿°ï¼Œå‡ºç°é¢‘æ¬¡æ˜æ˜¾é«˜äºå…¶å®ƒè¯è¯­ï¼Œåˆ†åˆ«æ˜¯sweetã€earthyã€sour

In [18]:
from wordcloud import WordCloud
text=' '.join(df_floor['taste'])

wordcloud = WordCloud().generate(text)
plt.figure(figsize=(10,6))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [19]:
#åˆ†åˆ«æŸ¥çœ‹ä¸‰ä¸ªè¯è¯­åœ¨åˆ†æ•°ä¸Šçš„åˆ†å¸ƒå¹¶ç»˜åˆ¶æŠ˜çº¿å›¾è§‚å¯Ÿ
df_bad=df_nona[df_nona['taste'].str.contains('sweet')]['rating'].value_counts().sort_index('index').reset_index()
df_bad['percent']=df_bad['rating']/df_bad['rating'].sum()*100
plt.plot(df_bad['index'],df_bad['rating'])

In [20]:
df_bad=df_nona[df_nona['taste'].str.contains('earthy')]['rating'].value_counts().sort_index('index').reset_index()
df_bad['percent']=df_bad['rating']/df_bad['rating'].sum()*100
plt.plot(df_bad['index'],df_bad['rating'])

In [21]:
df_bad=df_nona[df_nona['taste'].str.contains('sour')]['rating'].value_counts().sort_index('index').reset_index()
df_bad['percent']=df_bad['rating']/df_bad['rating'].sum()*100
plt.plot(df_bad['index'],df_bad['rating'])

#### åˆ†æ 6  
1. åˆ†åˆ«æŸ¥çœ‹ä¸‰ä¸ªè¯è¯­å‡ºç°çš„å‚èµ›æ•°æ®ï¼Œratingçš„åˆ†å¸ƒæƒ…å†µï¼Œå¤§éƒ¨åˆ†çš„è¯„åˆ†éƒ½é›†ä¸­åœ¨2.75åˆ°3.25ä¹‹é—´ï¼ŒåŠæ ¼åˆ†ä¸Šä¸‹  
2. å¦‚æœè¯„å§”ç»™å‡ºè¿™æ ·çš„è¯„ä»·ï¼Œå¯èƒ½ä»£è¡¨ç€å‡ ä¹æ— ç¼˜å†²å‡»é«˜å“è´¨å·§å…‹åŠ›äº†ï¼Œè¿™å¹¶éæ˜¯è¯„å§”å–œçˆ±çš„å£æ„Ÿ

### å››ã€åˆ†æcompanyå­—æ®µ

In [22]:
df_com=df.groupby(['company'])['rating'].count().sort_values(ascending=False)
df_com=df_com.head(10)
plt.figure(figsize=(10,5))
plt.plot(df_com)
plt.text('Soma',df_com['Soma'],('Soma',df_com['Soma']))
plt.ylim(0,60)

(0, 60)

#### åˆ†æ 7  
1. Somaå…¬å¸å‚èµ›æ•°é‡é¥é¥é¢†å…ˆï¼Œå‚èµ›çƒ­æƒ…å¾ˆé«˜æ¶¨

In [23]:
#åˆ†æSomaå…¬å¸
df_Soma=df[df['company']=='Soma']
df_Soma.groupby('review_date')['rating'].describe()

             count      mean       std   min     25%    50%     75%   max
review_date
2009           6.0  3.416667  0.341565  3.00  3.1250  3.500  3.6875  3.75
2010           1.0  3.750000       NaN  3.75  3.7500  3.750  3.7500  3.75
2011           6.0  3.583333  0.465475  2.75  3.5000  3.625  3.9375  4.00
2012           8.0  3.656250  0.265165  3.25  3.5000  3.625  3.8125  4.00
2013          11.0  3.613636  0.423728  2.75  3.2500  3.750  4.0000  4.00
2014           6.0  3.500000  0.223607  3.25  3.3125  3.500  3.6875  3.75
2015           2.0  3.750000  0.353553  3.50  3.6250  3.750  3.8750  4.00
2016           7.0  3.607143  0.243975  3.25  3.5000  3.500  3.7500  4.00
2017           2.0  3.625000  0.530330  3.25  3.4375  3.625  3.8125  4.00
2018           3.0  3.666667  0.577350  3.00  3.5000  4.000  4.0000  4.00

#### åˆ†æ 8  
1. Somaå…¬å¸ä»2009åˆ°2018å¹´ä¸€ç›´å‚åŠ æ¯”èµ›ï¼Œå‚ä¸çš„æ•°é‡ä»1-11ä¸ç­‰  
2. ä»æœ€å¤§å€¼çœ‹å‡ºï¼Œå‡ ä¹å¹´å¹´éƒ½æœ‰4åˆ†ï¼ˆå½“å¹´æœ€é«˜åˆ†ï¼‰å·§å…‹åŠ›ï¼Œé™¤äº†2009ã€2010ã€2014å¹´æ˜¯3.75ï¼Œåˆ†æ•°ä¹Ÿå¾ˆé«˜

In [24]:
df_top['company'].value_counts().head(10)

Soma                 13
Bonnat                8
Arete                 6
Idilio (Felchlin)     4
Domori                4
Valrhona              4
Fresco                4
Pierre Marcolini      3
A. Morin              3
Cacao Sampaka         3
Name: company, dtype: int64

#### åˆ†æ 9  
1. æ›¾ç»æ‹¿è¿‡å½“å¹´å·§å…‹åŠ›æœ€é«˜åˆ†çš„å…¬å¸æœ‰53ä¸ªï¼ŒSomaä¾ç„¶æ˜¯æ•°é‡æœ€å¤šçš„  
2. Somaå…¬å¸å‚èµ›çš„å·§å…‹åŠ›å“ç±»å¤šï¼Œä¸”é«˜å“è´¨å·§å…‹åŠ›äº§å“ä¹Ÿå¤š

### äº”ã€åˆ†æcompany_locationå­—æ®µ

In [25]:
#ä»å‚èµ›äº§å“æ•°é‡åˆ†æ
df_top['company_location'].value_counts()

U.S.A             41
France            16
Canada            16
Switzerland        6
Belgium            5
Australia          4
U.k.               4
Italy              4
Spain              3
Ecuador            3
Denmark            2
Brazil             1
Madagascar         1
Scotland           1
Germany            1
Czech republic     1
Guatemala          1
Name: company_location, dtype: int64

#### åˆ†æ 10  
1. å† å†›å·§å…‹åŠ›ä¸­ï¼Œæ¥è‡ªç¾å›½å…¬å¸çš„äº§å“å±…å¤šï¼Œå…¶æ¬¡æ˜¯æ³•å›½å’ŒåŠ æ‹¿å¤§ï¼ˆSomaæ˜¯åŠ æ‹¿å¤§çš„å…¬å¸ï¼‰ï¼Œç‘å£«å’Œæ¯”åˆ©æ—¶å·§å…‹åŠ›ç«Ÿç„¶æ²¡åœ¨å‰ä¸‰

In [26]:
#ä»å‚èµ›å…¬å¸çš„ç»´åº¦åˆ†æ
df[['company','company_location']].drop_duplicates().groupby('company_location').count().sort_values('company',ascending=False).reset_index().head(10)

  company_location  company
0            U.S.A      211
1           Canada       29
2             U.k.       25
3           France       19
4          Ecuador       13
5          Belgium       12
6             Peru       11
7            Italy       10
8      Switzerland       10
9            Japan       10

#### åˆ†æ 11  
1. å‚èµ›çš„å…¬å¸ä¸­ï¼Œæ¥è‡ªç¾å›½çš„å…¬å¸æœ€å¤š

In [27]:
#ä»æ›¾ç»è·å¾—è¿‡å† å†›çš„å…¬å¸çš„ç»´åº¦åˆ†æ
df_top[['company','company_location']].drop_duplicates().groupby('company_location').count().sort_values('company',ascending=False).reset_index().head(10)

  company_location  company
0            U.S.A       24
1             U.k.        4
2           France        4
3           Canada        4
4      Switzerland        3
5          Belgium        2
6        Australia        2
7          Ecuador        1
8          Denmark        1
9        Guatemala        1

#### åˆ†æ 12  
1. äº§ç”Ÿå† å†›å·§å…‹åŠ›çš„å…¬å¸ä¸­ï¼Œæ¥è‡ªç¾å›½çš„ä¹Ÿæœ€å¤š

æ‰€æœ‰å† å†›å·§å…‹åŠ›ä¸­ï¼Œæ¥è‡ªç¾å›½çš„åˆ¶é€ å•†ç”Ÿäº§çš„äº§å“æ•°é‡æœ€å¤šï¼›  
æ‰€æœ‰ç”Ÿäº§è¿‡å† å†›å·§å…‹åŠ›çš„åˆ¶é€ å•†ä¸­ï¼Œæ¥è‡ªç¾å›½çš„åˆ¶é€ å•†æœ€å¤šï¼›  
æ•´ä½“å‚èµ›çš„åˆ¶é€ å•†ä¸­ï¼Œæ¥è‡ªç¾å›½çš„åˆ¶é€ å•†ä¹Ÿæ˜¯æœ€å¤šçš„

### å…­ã€åˆ†æcountry_of_bean_originå­—æ®µ

In [28]:
df_top['country_of_bean_origin'].value_counts().head(10)

Peru                19
Venezuela           18
Madagascar          10
Ecuador              8
Blend                8
Colombia             5
Bolivia              5
Brazil               4
Papua new guinea     4
Haiti                3
Name: country_of_bean_origin, dtype: int64

#### åˆ†æ 13  
1. å† å†›å·§å…‹åŠ›ä¸­ï¼ŒåŸäº§åœ°æ¥è‡ªPeruçš„æœ€å¤šï¼Œå…¶æ¬¡æ˜¯Venezuelaã€Madagascar

In [29]:
######æ’æ’­ä¸€ä¸ªåˆ†æ
#æŸ¥çœ‹åˆ†æ•°æœ€ä½çš„æ•°æ®
df[df['rating']==df['rating'].min()]

,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
1479,Neuhaus (Callebaut),Belgium,2007,Blend,Dark,73.0,1.0,5,1,1,1,0,1,0,pastey,strong flavor,NaN,NaN

#### åˆ†æ 14  
1. å²ä½çš„å‚èµ›æ•°æ®æ˜¯2007å¹´æ¥è‡ªBelgiumçš„Neuhaus (Callebaut)çš„Darkå·§å…‹åŠ›ï¼Œåˆ†æ•°åªæœ‰ä¸€åˆ†

In [30]:
#åˆ†æè¯¥å…¬å¸
df[df['company']=='Neuhaus (Callebaut)']

,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
1476,Neuhaus (Callebaut),Belgium,2006,Venezuela,Ocumare,71.0,3.00,5,1,1,1,0,1,0,pastey,complex,coffee,vanilla
1477,Neuhaus (Callebaut),Belgium,2006,Sao tome,Sao Tome,75.0,2.75,5,1,1,1,0,1,0,grassy,earthy,burnt,NaN
1478,Neuhaus (Callebaut),Belgium,2006,Blend,West Africa,73.0,2.00,5,1,1,1,0,1,0,non descript,poor aftertaste,NaN,NaN
1479,Neuhaus (Callebaut),Belgium,2007,Blend,Dark,73.0,1.00,5,1,1,1,0,1,0,pastey,strong flavor,NaN,NaN
1480,Neuhaus (Callebaut),Belgium,2008,Trinidad,Manickchand Estate,67.0,3.75,5,1,1,1,0,1,0,complex,intense banana,NaN,NaN
1481,Neuhaus (Callebaut),Belgium,2010,Papua new guinea,Papua New Guinea,70.0,2.50,5,1,1,1,0,1,0,gritty,vanilla,non descript,NaN

#### åˆ†æ 15  
1. è¯¥å…¬å¸åœ¨2006ã€2008ã€2009ã€2010å…±å‚èµ›6æ¬¾äº§å“  
2. 06å¹´çš„ä¸‰æ¬¾äº§å“åªæœ‰ä¸€æ¬¾è¾¾åˆ°3åˆ†ï¼Œ07å¹´æ‹¿åˆ°å²ä½ï¼Œä½†æ˜¯08å¹´æ‹¿åˆ°3.75çš„é«˜åˆ†ï¼è™½ç„¶è‡ª10å¹´ä»¥åéƒ½æ²¡æœ‰å‚èµ›ï¼Œä½†æ˜¯æ•°æ®ä¾ç„¶ä¿ç•™è¿™ä¸ªé«˜å…‰æ—¶åˆ»  
3. è¯¥å…¬å¸çš„å‚èµ›äº§å“counts_of_ingredientséƒ½æ˜¯5ï¼Œä¼¼ä¹å–œæ¬¢æ·»åŠ å¾ˆå¤šçš„æˆåˆ†åœ¨é‡Œé¢

### ä¸ƒã€åˆ†æcocoa_percentå­—æ®µ

In [31]:

df_coco = df.pivot_table(index='rating', columns='cocoa_percent', values='company', aggfunc='count') 

plt.figure(figsize = (15, 5)) 
sns.heatmap(data=df_coco, cmap='YlOrBr')

#### åˆ†æ 16  
cocoç™¾åˆ†æ¯”åœ¨70%æ—¶ï¼Œå·§å…‹åŠ›æ•°é‡æœ€å¤š

In [32]:
c1=df.groupby('cocoa_percent')['company'].count().sort_values(ascending=False)
c2=df_top.groupby('cocoa_percent')['company'].count().sort_values(ascending=False)
c3=pd.merge(c1,c2,on='cocoa_percent',how='outer')
c3.rename(columns={'company_x': 'count', 'company_y': 'top_count'}, inplace=True)
c3['percent']=(c3['top_count']/c3['count']*100).round(2)
c3.dropna()

               count  top_count  percent
cocoa_percent
70.0             904       58.0     6.42
75.0             284       15.0     5.28
72.0             251       12.0     4.78
65.0              80        1.0     1.25
74.0              62        5.0     8.06
68.0              59        2.0     3.39
73.0              59        3.0     5.08
60.0              44        1.0     2.27
71.0              42        1.0     2.38
64.0              31        3.0     9.68
67.0              30        2.0     6.67
78.0              20        1.0     5.00
63.0              12        3.0    25.00
69.0              12        2.0    16.67
88.0               7        1.0    14.29

#### åˆ†æ 17  
1. 70%çš„coco_percentçš„äº§å“ï¼Œæ— è®ºæ˜¯å‚èµ›æ•°é‡å’Œè·å¾—å† å†›å·§å…‹åŠ›çš„æ•°é‡éƒ½æ˜¯è¿œè¿œé«˜äºå…¶å®ƒpercentçš„  
2. ä½†æ˜¯ä»äº§ç”Ÿå† å†›å·§å…‹åŠ›çš„ç™¾åˆ†æ¯”ä¸­ï¼Œæ²¡æœ‰æ˜æ˜¾ä¼˜åŠ¿  
3. æ‰€ä»¥åˆ¶é€ å•†æ›´çƒ­è¡·äºç”¨æ­¤æ¯”ä¾‹åˆ¶ä½œå·§å…‹åŠ›ï¼Œä½†æ˜¯ä¸ä»£è¡¨è¯¥æ¯”ä¾‹æ›´å®¹æ˜“äº§ç”Ÿå† å†›å·§å…‹åŠ›

In [33]:
d1=df[df['cocoa_percent']==70].groupby('review_date')['company'].count()
d2=df.groupby('review_date')['company'].count()
# æ°´å¹³åˆå¹¶Seriesåˆ°DataFrame
d3=pd.concat([d1, d2], axis=1,keys=('70_count','count'))
d3['percent']=d3['70_count']/d3['count']*100
d3

             70_count  count    percent
review_date
2006               11     60  18.333333
2007               19     69  27.536232
2008               27     84  32.142857
2009               30    113  26.548673
2010               19     94  20.212766
2011               44    153  28.758170
2012               74    180  41.111111
2013               74    178  41.573034
2014               96    243  39.506173
2015              135    280  48.214286
2016               94    215  43.720930
2017               50    102  49.019608
2018              125    225  55.555556
2019               83    195  42.564103
2020               23     33  69.696970

In [34]:
plt.plot(d3.index,d3['percent'])
plt.ylim(0,100)

(0, 100)

#### åˆ†æ 18  
ä½¿ç”¨70%coco_percentçš„å‚èµ›äº§å“çš„æ¯”ä¾‹æ•´ä½“é€å¹´ä¸Šå‡ï¼Œè¿›ä¸€æ­¥éªŒè¯åˆ¶é€ å•†è¶Šæ¥è¶Šå€¾å‘äºä½¿ç”¨è¿™ä¸ªæ¯”ä¾‹ç ”åˆ¶å·§å…‹åŠ›

### å…«ã€åˆ†æä¸åŒé…æ–¹ç»„åˆ

In [35]:

c4 = df_nona.pivot_table(index='content', columns='cocoa_percent', values='rating', aggfunc='count') 
c5 = df_top.pivot_table(index='content', columns='cocoa_percent', values='rating', aggfunc='count') 
c6=c5/c4*100

plt.figure(figsize = (25, 10)) 
sns.heatmap(data=c4, cmap='YlOrBr', annot=True, fmt='.0f')
plt.figure(figsize = (10, 4)) 
sns.heatmap(data=c5, cmap='YlOrBr', annot=True)
plt.figure(figsize = (25, 10)) 
sns.heatmap(data=c6, cmap='YlOrBr', annot=True, fmt='.0f')

#### åˆ†æ 19  
1. ä½¿ç”¨70%å¯å¯ã€000010ï¼Œ100010ï¼ˆä½¿ç”¨ç³–ï¼Œä¸”ä¸ä½¿ç”¨é¦™è‰ã€è½¯ç£·è„‚ã€ç›ã€ç”œå‘³å‰‚ï¼Œæœ€å¥½æ·»åŠ å¯å¯è„‚ï¼‰ï¼Œè¿™ä¸¤ç§é…æ–¹çš„å‚èµ›äº§å“æœ€å¤šäº†ï¼Œç§°ä¹‹ä¸ºå¤§ä¼—é…æ–¹ä¹Ÿä¸ä¸ºè¿‡  
2. åŒæ ·æ˜¯ä¸Šè¿°é…æ–¹ï¼Œåœ¨å† å†›å·§å…‹åŠ›ä¸­ï¼Œè¿™ç§é…æ–¹çš„å·§å…‹åŠ›æ•°é‡ä¹Ÿæ˜¯æœ€å¤šçš„  
3. ä½†æ˜¯ä»å† å‚æ¯”ï¼ˆå† å†›æ•°/å‚èµ›æ•°*100%ï¼‰ä¸Šçœ‹ï¼Œ63%æˆ–69%çš„å¯å¯ã€111010ï¼ˆä½¿ç”¨å¯å¯è„‚ã€é¦™è‰ã€è½¯ç£·è„‚ã€ç³–ä¸”ä¸ä½¿ç”¨ç›ã€ç”œå‘³å‰‚ï¼‰ï¼Œè¿™ç§é…æ–¹çš„å æ¯”æé«˜

In [36]:
df_nona[(df_nona['cocoa_percent'].isin([63,69])) & (df_nona['content']=='111010')]

,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste,taste,content
1250,Madecasse (Cinagra),Madagascar,2008,Madagascar,Madagascar,63.0,4.0,5,1,1,1,0,1,0,intense,nutty,cocoa,,intense nutty cocoa,111010
2116,Valrhona,France,2012,Venezuela,"Otucan, Grand Cru",69.0,4.0,5,1,1,1,0,1,0,green,unripened fruit,banana,,green unripened fruit banana,111010
2119,Valrhona,France,2015,Peru,"Piura, Illanka, Quemazon",63.0,4.0,5,1,1,1,0,1,0,intense,dark berry,grapes,,intense dark berry grapes,111010

#### åˆ†æ 20  
è¿›ä¸€æ­¥æŸ¥çœ‹å‘ç°ä¸¤ç§é…æ–¹ä¸‹çš„å‚èµ›æ•°ä¸€å…±åªæœ‰3ä¸ªï¼Œä½†æ˜¯éƒ½æ‹¿åˆ°äº†4åˆ†çš„å¥½æˆç»©ï¼Œè™½ç„¶å‚è€ƒæ•°è¾ƒå°‘ï¼Œä½†æ˜¯ä¸å…æ˜¯ä¸€ç§æ–°çš„ç ”å‘é“è·¯

### ä¹ã€åˆ†æcounts_of_ingredientså­—æ®µ

In [37]:
df_coco_count=df_top.groupby('counts_of_ingredients')['rating'].count()
df_coco_count.sort_values(ascending=False)

counts_of_ingredients
3    59
2    25
4    15
5    11
Name: rating, dtype: int64

#### åˆ†æ 21  
å‚èµ›äº§å“ä¸­ï¼Œä½¿ç”¨ä¸‰ç§æˆåˆ†çš„äº§å“æœ€å¤šï¼Œåˆ¶é€ å•†å€¾å‘äºä½¿ç”¨ä¸‰ç§æˆåˆ†

## æ€»ç»“

1. éšç€æ—¶é—´è¶‹åŠ¿ï¼Œå‚èµ›æ•°é‡æ•´ä½“å‘ˆç°ä¸Šå‡è¶‹åŠ¿ï¼Œèµ›äº‹çƒ­åº¦ä¸å‡ã€‚å·§å…‹åŠ›åˆ†æ•°å‘ä¸Šé›†ä¸­ï¼Œäº§å“è´¨é‡é€å¹´æå‡ã€‚  
2. æ¯”è¾ƒå—å–œçˆ±çš„å£æ„Ÿæ˜¯**creamyã€cocoaã€nutty**ï¼Œä¸å®¹æ˜“å—å–œçˆ±çš„å£æ„Ÿæ˜¯sweetã€earthyã€sour  
3. **Soma**å…¬å¸å‚èµ›çš„å·§å…‹åŠ›äº§å“æœ€å¤šï¼Œä¸”å† å†›å·§å…‹åŠ›äº§å“ä¹Ÿæœ€å¤š  
4. æ‰€æœ‰å† å†›å·§å…‹åŠ›ä¸­ï¼Œæ¥è‡ª**ç¾å›½**çš„åˆ¶é€ å•†ç”Ÿäº§çš„äº§å“æ•°é‡æœ€å¤šï¼›  
		æ‰€æœ‰ç”Ÿäº§è¿‡å† å†›å·§å…‹åŠ›çš„åˆ¶é€ å•†ä¸­ï¼Œæ¥è‡ª**ç¾å›½**çš„åˆ¶é€ å•†æœ€å¤šï¼›  
		æ•´ä½“å‚èµ›çš„åˆ¶é€ å•†ä¸­ï¼Œæ¥è‡ª**ç¾å›½**çš„åˆ¶é€ å•†ä¹Ÿæ˜¯æœ€å¤šçš„  
5. å† å†›å·§å…‹åŠ›ä¸­ï¼Œ**åŸäº§åœ°æ¥è‡ªPeru**çš„æœ€å¤šï¼Œå…¶æ¬¡æ˜¯Venezuelaã€Madagascar  
6. åˆ¶é€ å•†æ›´çƒ­è¡·äºç”¨**70**%çš„cocoï¼Œå†åŠ ä¸Šå¦å¤–**ä¸¤ç§**æˆåˆ†åˆ¶ä½œå·§å…‹åŠ›  
7. ä½¿ç”¨**70%å¯å¯**ã€000010æˆ–100010ï¼ˆ**ä½¿ç”¨ç³–ï¼Œä¸”ä¸ä½¿ç”¨é¦™è‰ã€è½¯ç£·è„‚ã€ç›ã€ç”œå‘³å‰‚ï¼Œæœ€å¥½æ·»åŠ å¯å¯è„‚**ï¼‰ï¼Œè¿™ä¸¤ç§é…æ–¹çš„å‚èµ›äº§å“æœ€å¤šäº†ï¼Œè·å¾—å† å†›å·§å…‹åŠ›çš„äº§å“ä¹Ÿæœ€å¤šï¼ˆå¤§ä¼—é…æ–¹ï¼‰  
8. **63%æˆ–69%çš„å¯å¯**ã€111010ï¼ˆ**ä½¿ç”¨å¯å¯è„‚ã€é¦™è‰ã€è½¯ç£·è„‚ã€ç³–ä¸”ä¸ä½¿ç”¨ç›ã€ç”œå‘³å‰‚**ï¼‰ï¼Œè¿™ä¸¤ç§é…æ–¹æ‰€æœ‰çš„å‚èµ›äº§å“éƒ½æ‹¿åˆ°äº†å† å†›ï¼ˆæ½œåŠ›é…æ–¹ï¼‰